@model TeacherModel;

@{
    ViewData["Title"] = "Lista de Maestros";
}

<h1>Listado de Profesores</h1>
<h3>@Model.Nombre es un alumno de la carrera @Model.Carrera</h3>
<label>Esto es una prueba</label>

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi pagina de Maestros</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <center><img src="/imagenes/care1.png"></center>
</div>
